div{
    display: inline-block;
    width: 100px;
    height: 100px;
    margin: 5px;
}

#solid{
    background-color: orange;
}

#gradient{
    background-image: linear-gradient(to bottom, skyblue, transparent);
}

#image{
    background-image: url('js.png');
    /* background-position: center bottom; */
    background-size: contain;
    background-repeat: no-repeat;
}

body{
    height: 300vh;
    background-image: url('background.jpg');
    background-size: cover;
    background-attachment: fixed;
}
